<div class="container-fluid sticky-top" style="background-color: white;">
    <div class="row bg-secondary py-1 px-xl-5 d-none">
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">

                <div class="">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">My
                        Account</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" [routerLink]="['account/login']" type="button">Sign in</button>
                        <button class="dropdown-item" [routerLink]="['account/signup']" type="button">Sign up</button>
                    </div>

                    <div class="btn-group mx-2">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                            data-toggle="dropdown">FCFA</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button">FCFA</button>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                            data-toggle="dropdown">EN</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button">FR</button>
                            <button class="dropdown-item" type="button">EN</button>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="align-items-center bg-light pt-2 px-xl-5 d-lg-flex">
        <div class="row justify-content-between d-lg-none">
            <div class=" col text-left text-decoration-none d-block" style=" max-width: 500px; ">
                <app-search></app-search>
            </div>
            <div class="col-3">
                <app-status-account></app-status-account>
            </div>
        </div>
    </div>



        <div class="row justify-content-between  align-items-center bg-light py-2 pt-2 px-xl-5 d-none d-lg-flex">
            <div style="cursor: pointer;" [routerLink]="['/home']" class="logo col">
              <img src="assets/image/logo.jpg" alt="Falcon service shop">
            </div>

            <div class="col-lg-4 col-6 text-left ">
                <app-search></app-search>
            </div>
            <div class="col-lg-4 col-6 text-right">
                <!-- <p class="m-0">Service Client</p> -->
                <a class="text-body px-2" href="mailto:info@example.com"><i
                        class="fa fa-envelope-open me-2"
                        style="margin-right: 3px;"></i>info@example.com</a>
                <a href="" class="text-body px-2" href="https://api.whatsapp.com/send?phone=237699397286" target="_blank"><i class="fab fa-whatsapp text-success me-2"
                        style="margin-right: 3px;"></i>+237 699397286</a>
                <!-- <a class="text-body px-2" href="mailto:info@example.com"><i class="fa fa-phone-alt text-primary me-2"
                        style="margin-right: 3px;"></i>+237 699397286</a> -->
            </div>
    </div>
