    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" routerLink="/home">Home</a>
                    <a class="breadcrumb-item text-dark" routerLink="/shop" >Shop</a>
                    <span class="breadcrumb-item active">Shop List</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">

            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <app-shop-product-start></app-shop-product-start>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->
