    <!-- Breadcrumb Start -->
    <div class="container-fluid">
      <div class="row px-xl-5">
          <div class="col-12">
              <nav class="breadcrumb bg-light mb-30">
                  <a class="breadcrumb-item text-dark" routerLink="/home">Home</a>
                  <span class="breadcrumb-item active">Create New Customer account</span>
              </nav>
          </div>
      </div>
  </div>
  <!-- Breadcrumb End -->


<div *ngIf="this.currentIndex === 0" class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>S'inscrire</h2>
        <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
            <div class="form-group">
                <label for="nom">Nom</label>
                <input formControlName="nom" class="form-control" id="nom" placeholder="Entrez votre nom">
                <div *ngIf="signupForm.controls['nom'].invalid && (signupForm.controls['nom'].dirty || signupForm.controls['nom'].touched)" class="text-danger">
                    <div *ngIf="signupForm.controls['nom'].errors?.['required']">Le nom est requis.</div>
                  </div>
             </div>
            <div class="form-group">
                <label for="prenom">Prenom</label>
                <input formControlName="prenom" class="form-control" id="prenom" placeholder="Entrez votre prénom">
                <div *ngIf="signupForm.controls['prenom'].invalid && (signupForm.controls['prenom'].dirty || signupForm.controls['prenom'].touched)" class="text-danger">
                    <div *ngIf="signupForm.controls['prenom'].errors?.['required']">Le nom est requis.</div>
                  </div>
             </div>
          <div class="form-group">
            <label for="email">Adresse e-mail</label>
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="Entrez votre adresse e-mail">
            <div *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched)" class="text-danger">
              <div *ngIf="signupForm.controls['email'].errors?.['required']">L'adresse e-mail est requise.</div>
              <div *ngIf="signupForm.controls['email'].errors?.['email']">L'adresse e-mail doit être valide.</div>
            </div>
          </div>
          <br>
          <button type="submit" class="btn float-right btn-primary" [disabled]="signupForm.invalid">Suivant <i class="bi bi-arrow-right fs-5"></i></button>
        </form>
      </div>
    </div>
  </div>
<div *ngIf="this.currentIndex === 1" class="container">
  <app-confirmsignup></app-confirmsignup>
</div>
  
<br>
<br>
<br>
<app-featured></app-featured>
