<div class="dropdown btn px-0 ml-4" style="height: 50px; width: 40px; border: none; background-color: none;">
    <a class="" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="assets/image/logo_user.png" alt="Profile Picture" class="rounded-circle" width="35">
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <span class="dropdown-item">Fokou Montaigne</span>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Profile</a>
        <a class="dropdown-item" href="#">Settings</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Logout</a>
    </div>
</div>