<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" routerLink="/home">Home</a>
        <span class="breadcrumb-item active">Customer Login</span>
      </nav>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Se connecter</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group">
          <label for="username">Nom d'utilisateur</label>
          <input formControlName="nom_utilisateur" type="text" [disabled]="this.IsOnLogin" class="form-control" id="username"
            placeholder="Entrez votre nom d'utilisateur">
          <div
            *ngIf="loginForm.controls['nom_utilisateur'].invalid && (loginForm.controls['nom_utilisateur'].dirty || loginForm.controls['nom_utilisateur'].touched)"
            class="text-danger">
            <div *ngIf="loginForm.controls['username'].errors?.['required']">Le nom d'utilisateur est requise.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input formControlName="password" type="password" [disabled]="this.IsOnLogin" class="form-control" id="password"
            placeholder="Entrez votre mot de passe">
          <div
            *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
            class="text-danger">
            <div *ngIf="loginForm.controls['password'].errors?.['required']">Le mot de passe est requis.</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary text-white float-right" [disabled]="loginForm.invalid || this.IsOnLogin"> <i
            class="bi bi-person fs-5 text-white"></i><span *ngIf="!this.IsOnLogin"> Se connecter</span> <div *ngIf="this.IsOnLogin" class="spinner-border spinner-border"
            role="status">
          </div></button>
      </form>
    </div>
  </div>
</div>
<br>
<br>
<br>
<app-featured></app-featured>