<div class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Categories</span></h2>
    <div class="row px-xl-5 pb-3">
        <ng-container *ngFor="let item of productscategorie">
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="">
                    <div class="cat-item d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img class="img-fluid" [src]="item.image?.src" [title]="item.image?.title" [alt]="item.image?.title">
                        </div>
                        <div class="flex-fill pl-3">
                            <h6>{{item.name}}</h6>
                            <small class="text-body">{{item.count}} In Stock</small>
                        </div>
                    </div>
                </a>
            </div>
        </ng-container>
    </div>
</div>
