.skeleton-line {
    background-color: #e7e5e5;
    border-radius: 4px;
    height: 20px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .title {
    height: 30px;
    margin-bottom: 20px;
    width: 80%;
    // title
  }
  
  .rating {
    height: 20px;
    width: 150px;
  }
  
  .price {
    height: 40px;
    margin-bottom: 30px;
    width: 50%;
  }
  
  .description {
    height: 100px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .quantity-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 200px;
  }
  
  .add-to-cart-btn {
    height: 40px;
    margin-bottom: 20px;
    width: 150px;
  }
  
  .share-icons {
    height: 30px;
    width: 200px;
  }
  