<!-- Carousel Start -->
<app-carousel></app-carousel>
<!-- Carousel End -->

<!-- Featured Start -->
<app-featured></app-featured>
<!-- Featured End -->

<!-- Categories Start -->
<!-- <app-categories></app-categories> -->
<!-- Categories End -->

<!-- Products Start -->
<app-products  (outputexemple)="reciveData($event)"></app-products>
<!-- Products End -->

<!-- Offer Start -->
<!-- <app-offer></app-offer> -->
<!-- Offer End -->

<!-- Products Start -->
<!-- <app-recent-products></app-recent-products> -->
<!-- Products End -->

<!-- Vendor Start -->
<app-vendor [inputexemple]="this.val"></app-vendor>
<!-- Vendor End -->
