<div class="row pb-3">
    <div class="col-12 pb-1">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <div>
                <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
            </div>
            <div class="ml-2">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                        data-toggle="dropdown">Sorting</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Latest</a>
                        <a class="dropdown-item" href="#">Popularity</a>
                        <a class="dropdown-item" href="#">Best Rating</a>
                    </div>
                </div>
                <div class="btn-group ml-2">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                        data-toggle="dropdown">Showing</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" >10</a>
                        <a class="dropdown-item" >20</a>
                        <a class="dropdown-item" >30</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="!shopServiceService.loadingProduct">

        <ng-container *ngFor="let item of shopServiceService.products">

            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" [src]="item.images[0].src" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a *ngIf="item.categories" class="h6 text-decoration-none text-truncate"
                            [routerLink]="['/shop', item.categories[0].id, item.slug]">{{item.name}}</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>{{item.regular_price}}</h5>
                            <h6 class="text-muted ml-2"><del>{{item.sale_price}}</del></h6>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star-half-alt text-primary mr-1"></small>
                            <small class="far fa-star text-primary mr-1"></small>
                            <!-- <small>{{item.comment}}</small> -->
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="shopServiceService.loadingProduct">
        <div *ngFor="let index of numbers" class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <div class="skeleton-img animate"></div> <!-- Skeleton animé -->
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square"><i class="fa fa-shopping-cart"></i></a>
                        <a class="btn btn-outline-dark btn-square"><i class="far fa-heart"></i></a>
                        <a class="btn btn-outline-dark btn-square"><i class="fa fa-sync-alt"></i></a>
                        <a class="btn btn-outline-dark btn-square"><i class="fa fa-search"></i></a>
                    </div>
                </div>
                <div class="text-center py-4">
                    <div class="skeleton-text animate"></div> <!-- Skeleton animé -->
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <div class="skeleton-text w-50 animate"></div> <!-- Skeleton animé -->
                        <div class="skeleton-text w-50 animate ml-2"></div> <!-- Skeleton animé -->
                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-1">
                        <div class="skeleton-star animate"></div> <!-- Skeleton animé -->
                        <div class="skeleton-star animate"></div> <!-- Skeleton animé -->
                        <div class="skeleton-star animate"></div> <!-- Skeleton animé -->
                        <div class="skeleton-star animate"></div> <!-- Skeleton animé -->
                        <div class="skeleton-star animate"></div> <!-- Skeleton animé -->
                    </div>
                </div>
            </div>
        </div>
    </ng-container>


    <div class="col-12">
        <nav>
            <ul class="pagination justify-content-center">
                <li *ngIf="this.shopServiceService.currentPage == 1" class="page-item disabled"><a
                        class="page-link"><span>Previous</span></a></li>
                <li class="page-item" style="cursor: pointer;"
                    *ngIf="shopServiceService.currentPage !== undefined && this.shopServiceService.currentPage > 1 && shopServiceService.currentPage !== undefined"><a
                        class="page-link" (click)="this.shopServiceService.getMorePage(this.shopServiceService.currentPage-1)"><span>Previous</span></a></li>
                <li class="page-item active"><a class="page-link">1</a></li>
                <li class="page-item" style="cursor: pointer;"><a class="page-link">2</a></li>
                <li class="page-item" style="cursor: pointer;"><a class="page-link">3</a></li>
                <li class="page-item" style="cursor: pointer;" *ngIf="shopServiceService.totalPage!==undefined && shopServiceService.currentPage !== undefined && this.shopServiceService.currentPage < shopServiceService.totalPage" (click)="shopServiceService.getMorePage(this.shopServiceService.currentPage+1)"><a
                        class="page-link">Next</a></li>
                <li class="page-item disabled" *ngIf="this.shopServiceService.currentPage == shopServiceService.totalPage" ><a
                        class="page-link">Next</a></li>
            </ul>
        </nav>
    </div>
</div>