<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-2 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h3 class="fa fa-check text-primary m-0 mr-3"></h3>
                <h5 style="font-size: 0.8em;" class="font-weight-semi-bold m-0">Quality Product</h5>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h3 class="fa fa-shipping-fast text-primary m-0 mr-2"></h3>
                <h5 style="font-size: 0.8em;" class="font-weight-semi-bold m-0">Delivery</h5>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h3 class="fas fa-exchange-alt text-primary m-0 mr-3"></h3>
                <h5 style="font-size: 0.8em;" class="font-weight-semi-bold m-0">5-Days Return</h5>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h3 class="fa fa-phone-volume text-primary m-0 mr-3"></h3>
                <h5 style="font-size: 0.8em;"  class="font-weight-semi-bold m-0">9am - 5pm Support</h5>
            </div>
        </div>
    </div>
</div>
